
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Netflix Sans", sans-serif;
    /* background-color: black; */
}
.hero{
    height: 100vh;
    background-image: url(./netflix-background.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    filter: brightness(1.3);
}
.main{
    height: 100%;
    background-color: #100f0f;
    opacity: 0.84;
}
.nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 25vw;
}

.right button,select{
    background-color: #100f0f ;
    color: white;
    font-size: 1.05rem;
}
select{
    border: none;
}
#btn1{
    opacity: 0.9;
    border: 0.5px solid #ffffff9a;
    border-radius: 5px;
}
#btn2{
    background-color: rgb(229,9,20);
}
.right button{
    padding: 5px 12px;
    border: none;
    border-radius: 10%;
    
}
.right{
    display: flex;
    column-gap: 20px;
}
.center{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.center h1{
    font-size: 3rem;
    font-weight: 900;
}
.center p{
    font-size: 1.5rem;
}
.center h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.starting {
    display: flex;
    column-gap: 6px;
    justify-content: center;
    align-items: center;
}
.starting input{
    background-color: #100f0f ;
    border: none;
    opacity: 0.9;
    height: 60px;
    width: 400px;
    border: 0.5px solid rgba(255, 255, 255, 0.855);
    border-radius: 3px;
    padding: 20px;
    font-size: large;
    color: white;
}
#btn1 input select option{
    background-color: white;
}
.starting button{
    border: none;
    background-color: rgb(229,9,20);
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 16px 30px;
    font-weight: 500;
}
button:hover{
    cursor: pointer;
    filter: contrast(0.8);
}
hr{
    border: none;
    height: 10px;
    background-color: #232323;
}
.tv{
    position: relative;
}
.tv img{
    position: relative;
    z-index: 2;
}
.tv video{
    position: absolute;
    top: 20%;
    left: 12%;
    z-index: 0;
    width: 30vw;
}
.common-container{
    background-color: black;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: white;
    
}
.common-text{
    max-width: 35vw;
}
.common-heading{
    font-size: 3rem;
}
.common-para{
    font-size: 1.5rem;
}
.phone {
    position: relative;
}
.stranger-things{
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border: 2px solid #ffffff9a;
    border-radius: 10px;
    position: absolute;
    top: 65%;
    left: 22%;
    background-color: black;
}

.content h3{
    font-weight: 500;
}
.content p{
    color: #0042DC;
    font-weight: 300;
    font-size: 0.9rem;
}
.mac {
    position: relative;
}
.mac img{
    position: relative;
    z-index: 2;
    
}

.mac video{
    position: absolute;
    right: 20%;
    top: 12%;
    height: 170px;
    z-index: 0;
}
.faq{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    row-gap: 10px;
}
.faq h2{
    margin-bottom: 20px;
}
.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    background-color: #232323;
    padding: 30px;
}
.items p{
    font-size: 1.6rem;
    background-color: #232323;
}
.items svg{
    background-color: #232323;
}
.items:hover{
    cursor: pointer;
    opacity: 0.6;
}
.fix{
    margin-top: 5vh;
}

.bottom-second{
    background-color: black;
    color: #ffffff9a;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
    font-weight: 300;
    font-size: 0.8rem;
}
.question, .five, .six, .seven {
    align-self: flex-start;
    margin-left: 20%;
}
#footer{
    display: flex;
    align-items: flex-start;
    column-gap: 120px;
}
.left-one{
    display: flex;
    column-gap: 120px;
    row-gap: 40px;
}
.right-one{
    display: flex;
    column-gap: 120px;
    row-gap: 40px;
}
ul li{    
    list-style: none;
    text-decoration: underline;
    margin: 20px 0;
}
.question  a{
    color: #ffffff9a ;
}
.question{
    display: block;
}

li:hover{
    cursor: pointer;
}

.seven{
    font-size: medium;
    color: white;
}

@media (max-width:700px){
    .hero{
        height: 80vh;
        box-sizing: border-box;
    }
    .main{
        height : 100%;
    }
    .nav {
        height: 15vh;
        justify-content: center;
        column-gap: 2vw;
    }
    .starting button{
        font-size: 0.9rem;
        font-weight: 300;
    }
    .center{
        margin-top: 10vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .center h1{        
        font-size: 2rem;
        margin: 0 12vw;
    }
    .center p{
        font-weight: 100;
        font-size: 1.1rem;
    }
    .center h3{
        font-weight: 300;
        margin: 0 40px;
        font-size: 1.1rem;
    }
    .starting{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .starting input{
        max-width: 70vw;
        height: 5vh;
    }
    .starting button{
        padding: 2vh 3vh;
    }
    .common-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15vw;
        height: 60vh;
        text-align: center;
    }
    .common-text{
        max-width: 100%;
        align-items: center;
        align-items: center;
    }
    .common-text h2 {
        font-size: 2rem;
    }
    .common-text p{
        font-size: 1rem;
        font-weight: 300;
    }
    .enjoy-tv img{
        width: 300px;
    }
    #special {
        width: 300px;
    }
    .tv video{
        width: 60vw;
    }
    .phone{
        order: 2;
    }
    .stranger-things{
        height: 8vh;
        width: 70vw;
        font-size: 0.52rem;
        font-weight: 400;
        top: 65%;
        left: 7%;

    }
    .stranger-things p,h2 {
        font-size: 0.7rem;
    }
    .stranger-things img{
        height: 50px;
    }
    .gif img{
        margin-left: 50px;
    }
    .kids-profile img{
        width: 300px;
    }
    .watch-everywhere img{
        width: 300px;
    }
    .mac video{
        height: 13vh;
        width: 22vh;
    }
    .kids-profile{
        flex-direction: column-reverse;
    }
    #btn1 select{
        display: none;
    }
    #btn2{
        font-weight: 300;
        font-size: 0.9rem;
    }
    .left span img{
        height: 6vh;
    }
    .faq h2{
        font-size: 2rem;
    }
    .items{
        padding: 8px;
        height: 8vh;
    }
    .items p{
        font-size: 1rem;
        font-weight: 300;
    }
    .items svg{
        height: 20px;
    }
    footer{
        height: 72vh;
    }
    .five #btn1 select{   
        display: inline;
    }
    #footer{
        display: flex;
        /* padding: 20px; */
        width: 80vw;
        column-gap: 5px;
    }
    .bottom-second{
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px;

    }
    .left-one{
        flex-direction: column;
        display: inline-flex;
        width: 30vh;
    }
    .right-one{
        flex-direction: column;
        width: 20vh;
    }
    .question, .five, .six, .seven{
        align-self: flex-start;
        margin-left: 0px;
    }
    .first, .third{
        margin-bottom: -60px;
    }

}
